# emacs backup files
*~ .*.swp CMakeCache.txt./ MySql.ncb./ MySql.sln./ MySql.suo./ README.build -
    files./ cmakecache.txt./ config.h./ copy_mysql_files.bat./ fix - project -
    files./ mysql *.ds
    ?./ mysql.ncb./ mysql.sln./ mysql.suo./
         prepare.DS_Store.defs.mk.depend.depend.mk.deps.gdb_history.gdbinit.libs
             .o.out.snprj/*
.vimrc

# gdb
.gdb_history

# Misc tags/ctags files
tags
TAGS
TAGS_sorted_by_file

# googletest files
source_downloads

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Configuration files for Visual Studio Code
.vscode/

build/
datatool/
datatools/
__pycache__/
heatwaveml.*
automl.egg-info/
_userconf.sh
scalability_jobs_*

CMakeFiles/
Makefile
cmake_install.cmake

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Docs/INFO_BIN
Docs/INFO_SRC
VERSION.dep
archive_output_directory/
/bin
boost_patch_diffs
client/base/libclient_base.a
client/dump/libmysqlpump_lib.a
compile_commands.json
components/libminchassis/libminchassis.a
components/library_mysys/liblibrary_mysys.a
debian/
extra/boost/boost_1_77_0.tar.gz/
extra/boost/boost_1_77_0.tar.bz2
extra/boost/boost_1_77_0/
extra/icu/libicui18n.a
extra/icu/libicustubdata.a
extra/icu/libicuuc.a
extra/libedit/libedit-20210910-3.1/src/common.h
extra/libedit/libedit-20210910-3.1/src/emacs.h
extra/libedit/libedit-20210910-3.1/src/fcns.h
extra/libedit/libedit-20210910-3.1/src/func.h
extra/libedit/libedit-20210910-3.1/src/help.h
extra/libedit/libedit-20210910-3.1/src/libedit.a
extra/libedit/libedit-20210910-3.1/src/makelist
extra/libedit/libedit-20210910-3.1/src/vi.h
extra/libevent/libevent-2.1.11-stable/include/evconfig-private.h
extra/libevent/libevent-2.1.11-stable/include/event2/event-config.h
extra/libevent/libevent-2.1.11-stable/lib/

extra/zlib/zlib-1.2.13/zconf.h
find_libevent_version.c
icudt69l.lnk
include/binlog_config.h
include/config.h
include/installed_headers.cc
include/my_config.h
include/mysql_version.h
include/mysqlclient_ername.h
include/mysqld_ername.h
include/mysqld_errmsg.h
include/mysqld_error.h
info_macros.cmake
/lib
libbinlogevents/lib/
libbinlogstandalone/lib/
libchangestreams/lib/
liblz4_lib.a
libmysql/api_test.c
libmysql/libmysql.ver
libmysql/libmysql_api_test.out
libmysql/libmysql_dummy.c
library_output_directory/
libservices/libmysqlservices.a
make_dist.cmake
mysql-test/mtr
mysql-test/mysql-test-run
nohup.out
packaging/rpm-common/my.cnf
packaging/rpm-common/mysql.logrotate
packaging/rpm-common/mysqlrouter.conf
packaging/rpm-docker/my.cnf
packaging/rpm-docker/mysql.spec
packaging/rpm-fedora/mysql.spec
packaging/rpm-oel/mysql.spec
packaging/rpm-sles/mysql.spec
plugin/fulltext/libngram_parser.a
plugin/group_replication/generated/
plugin/group_replication/libmysqlgcs/include/mysql/gcs/mysql_gcs.h
plugin/group_replication/libmysqlgcs/include/xcom/
plugin/group_replication/libmysqlgcs/libmysqlgcs.a
plugin/group_replication/libmysqlgcs/xdr_gen/
plugin/group_replication/protobuf/libgr_protobuf_lite.a
plugin/rewriter/install_rewriter.sql
plugin/rewriter/uninstall_rewriter.sql
plugin/x/client/libmysqlxclient.a
plugin/x/client/libmysqlxclient_lite.a
plugin/x/generated/
plugin/x/libmysqlx.a
plugin/x/protocol/protobuf/libmysqlxmessages.a
plugin/x/protocol/protobuf/libmysqlxmessages_lite.a
plugin/performance_point/libperformance_point.a
plugin/rds_audit_log/librds_audit_log.a
plugin/polarx_rpc/libpolarx_rpc.a
plugin/polarx_rpc/libpolarx_rpc_client.a
plugin/polarx_rpc/libpolarx_rpc_protobuf_full.a
plugin/polarx_rpc/protobuf/
plugin/polarx_rpc/protobuf_lite/
plugin/polarx_udf/libpolarx_udf.a
plugin_output_directory/
router/include/
router/router_config.h
router/src/connection_pool/include/mysqlrouter/connection_pool_export.h
router/src/connection_pool/include/mysqlrouter/connection_pool_plugin_export.h
router/src/destination_status/include/mysqlrouter/destination_status_export.h
router/src/destination_status/include/mysqlrouter/destination_status_plugin_export.h
router/src/harness/include/libharness_net_ts.a
router/src/harness/include/mysql/harness/stdx_export.h
router/src/harness/include/mysql/harness/tls_export.h
router/src/harness/src/libmysqlharness.a
router/src/harness/src/src_SHARED/
router/src/harness/src/src_STATIC/
router/src/http/include/mysqlrouter/http_auth_backend_export.h
router/src/http/include/mysqlrouter/http_auth_backend_lib_export.h
router/src/http/include/mysqlrouter/http_auth_realm_export.h
router/src/http/include/mysqlrouter/http_auth_realm_lib_export.h
router/src/io/include/mysqlrouter/io_component_export.h
router/src/io/include/mysqlrouter/io_export.h
router/src/json_schema_embedder/json_schema_embedder
router/src/metadata_cache/include/mysqlrouter/metadata_cache_export.h
router/src/metadata_cache/include/mysqlrouter/metadata_cache_plugin_export.h
router/src/mock_server/src/libmock_server_rest_client.a
router/src/mock_server/src/mysql_server_mock_schema.cc
router/src/mock_server/src/mysql_server_mock_schema.h
router/src/mysqlxmessages/src/router_mysqlxmessages_dummy.c
router/src/openssl/include/
router/src/protobuf/include/
router/src/rest_api/include/mysqlrouter/rest_api_export.h
router/src/rest_api/src/librest_api_lib.a
router/src/rest_connection_pool/include/
router/src/rest_router/include/
router/src/rest_routing/include/
router/src/router/include/mysqlrouter/router_export.h
router/src/router/src/librouter_frontend_lib.a
router/src/routing/include/mysqlrouter/routing_export.h
router/src/routing/include/mysqlrouter/routing_plugin_export.h
router/src/routing/src/libsql_lexer.a
runtime_output_directory/
scripts/make_binary_distribution
scripts/mysql_config
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.h
scripts/mysqlclient.pc
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/sql_commands_help_data.h
scripts/sql_commands_system_data.h
scripts/sql_commands_system_tables.h
scripts/sql_commands_system_tables_data_fix.h
scripts/sql_commands_system_users.h
scripts/sql_firewall_stored_procedures.h
scripts/sys_schema/ALL_SYS_SCHEMA.sql
scripts/sys_schema/ALL_SYS_SCHEMA.sql.in
scripts/sys_schema/sql_commands.h
share/bulgarian/
share/czech/
share/danish/
share/dutch/
share/english/
share/estonian/
share/french/
share/german/
share/greek/
share/hungarian/
share/italian/
share/japanese/
share/korean/
share/norwegian-ny/
share/norwegian/
share/polish/
share/portuguese/
share/romanian/
share/russian/
share/serbian/
share/slovak/
share/spanish/
share/swedish/
share/ukrainian/
sql/keyword_list.h
sql/lex_hash.h
sql/lex_token.h
sql/libbinlog.a
sql/libmaster.a
sql/librpl.a
sql/libslave.a
sql/libsql_dd.a
sql/libsql_gis.a
sql/libsql_main.a
sql/libsequence.a
sql/protobuf/generated/
sql/protobuf/librpl_protobuf_lite.a
sql/server_component/libmysql_server_component_services.a
sql/sql_builtin.cc
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc
sql/sql_yacc.h
storage/archive/libarchive.a
storage/blackhole/libblackhole.a
storage/csv/libcsv.a
storage/federated/libfederated.a
storage/heap/libheap.a
storage/heap/libheap_library.a
storage/innobase/libinnobase.a
storage/innobase/libinnodb_zipdecompress.a
storage/myisam/libmyisam.a
storage/myisam/libmyisam_library.a
storage/myisammrg/libmyisammrg.a
storage/ndb/include/ndb_config.h
storage/ndb/include/ndb_types.h
storage/ndb/include/ndb_version.h
storage/ndb/libndbcluster.a
storage/perfschema/libperfschema.a
storage/temptable/libtemptable.a
strings/uca900_ja_tbls.cc
strings/uca900_zh_tbls.cc
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysqlrouter-log-rotate

CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
data/
extra/curl/curl-7.86.0/CMake/cmake_uninstall.cmake
extra/curl/curl-7.86.0/curl-config
extra/curl/curl-7.86.0/generated/
extra/curl/curl-7.86.0/libcurl.pc

.cache/clangd
extra/IS/dependency/easy/src/libmyeasy.a
extra/IS/src/libaliconsensus.a
extra/IS/dependency/easy/src/libmyeasy_internal.a
extra/IS/src/libaliconsensus_no_easy.a
extra/IS/dependency/rocksdb-6.29.4
install_manifest.txt

mysql-test/run_query.log
mysql-test/run_query.error
mysql-test/var*


CTestTestfile.cmake
DartConfiguration.tcl
build_version.cc
client/CTestTestfile.cmake
client/base/CTestTestfile.cmake
client/dump/CTestTestfile.cmake
client/migrate_keyring/CTestTestfile.cmake
components/audit_api_message_emit/CTestTestfile.cmake
components/example/CTestTestfile.cmake
components/keyrings/CTestTestfile.cmake
components/keyrings/common/CTestTestfile.cmake
components/keyrings/keyring_file/CTestTestfile.cmake
components/libminchassis/CTestTestfile.cmake
components/library_mysys/CTestTestfile.cmake
components/logging/CTestTestfile.cmake
components/mysqlbackup/CTestTestfile.cmake
components/pfs_component/CTestTestfile.cmake
components/pfs_example/CTestTestfile.cmake
components/query_attributes/CTestTestfile.cmake
components/reference_cache/CTestTestfile.cmake
components/test/CTestTestfile.cmake
components/test/keyring_encryption_test/CTestTestfile.cmake
components/test/perfschema/CTestTestfile.cmake
components/test/table_access/CTestTestfile.cmake
components/test/udf_services/CTestTestfile.cmake
components/validate_password/CTestTestfile.cmake
extra/IS/CTestTestfile.cmake
extra/IS/dependency/easy/src/CTestTestfile.cmake
extra/IS/src/CTestTestfile.cmake
extra/IS/unittest/CTestTestfile.cmake
include/CTestTestfile.cmake
libbinlogevents/CTestTestfile.cmake
libbinlogevents/src/CTestTestfile.cmake
libbinlogstandalone/CTestTestfile.cmake
libbinlogstandalone/src/CTestTestfile.cmake
libchangestreams/CTestTestfile.cmake
libchangestreams/src/lib/CTestTestfile.cmake
libchangestreams/src/libstandalone/CTestTestfile.cmake
libchangestreams/src/tests/CTestTestfile.cmake
libgmock.a
libgmock_main.a
libgtest.a
libgtest_main.a
libmysql/CTestTestfile.cmake
libmysql/authentication_fido/CTestTestfile.cmake
libmysql/authentication_kerberos/CTestTestfile.cmake
libmysql/authentication_ldap/CTestTestfile.cmake
libmysql/authentication_oci_client/CTestTestfile.cmake
libservices/CTestTestfile.cmake
man/CTestTestfile.cmake
mysql-test/CTestTestfile.cmake
mysql-test/lib/My/SafeProcess/CTestTestfile.cmake
mysys/CTestTestfile.cmake
packaging/WiX/CTestTestfile.cmake
packaging/deb-in/CTestTestfile.cmake
packaging/rpm-common/CTestTestfile.cmake
packaging/rpm-docker/CTestTestfile.cmake
packaging/rpm-fedora/CTestTestfile.cmake
packaging/rpm-oel/CTestTestfile.cmake
packaging/rpm-sles/CTestTestfile.cmake
packaging/solaris/CTestTestfile.cmake
plugin/audit_null/CTestTestfile.cmake
plugin/auth/CTestTestfile.cmake
plugin/clone/CTestTestfile.cmake
plugin/connection_control/CTestTestfile.cmake
plugin/daemon_example/CTestTestfile.cmake
plugin/ddl_rewriter/CTestTestfile.cmake
plugin/fulltext/CTestTestfile.cmake
plugin/group_replication/CTestTestfile.cmake
plugin/group_replication/libgr_unit_test_resource.a
plugin/group_replication/libmysqlgcs/CTestTestfile.cmake
plugin/group_replication/protobuf/CTestTestfile.cmake
plugin/innodb_memcached/CTestTestfile.cmake
plugin/keyring/CTestTestfile.cmake
plugin/keyring_udf/CTestTestfile.cmake
plugin/password_validation/CTestTestfile.cmake
plugin/performance_point/CTestTestfile.cmake
plugin/pfs_table_plugin/CTestTestfile.cmake
plugin/polarx_rpc/CTestTestfile.cmake
plugin/polarx_udf/CTestTestfile.cmake
plugin/rds_audit_log/CTestTestfile.cmake
plugin/replication_observers_example/CTestTestfile.cmake
plugin/rewrite_example/CTestTestfile.cmake
plugin/rewriter/CTestTestfile.cmake
plugin/semisync/CTestTestfile.cmake
plugin/test_plugins/CTestTestfile.cmake
plugin/test_service_sql_api/CTestTestfile.cmake
plugin/test_services/CTestTestfile.cmake
plugin/udf_services/CTestTestfile.cmake
plugin/version_token/CTestTestfile.cmake
plugin/x/CTestTestfile.cmake
plugin/x/client/CTestTestfile.cmake
plugin/x/protocol/CTestTestfile.cmake
plugin/x/protocol/plugin/CTestTestfile.cmake
plugin/x/protocol/protobuf/CTestTestfile.cmake
plugin/x/tests/CTestTestfile.cmake
plugin/x/tests/components/CTestTestfile.cmake
plugin/x/tests/driver/CTestTestfile.cmake
router/CTestTestfile.cmake
router/src/CTestTestfile.cmake
router/src/connection_pool/CTestTestfile.cmake
router/src/connection_pool/src/CTestTestfile.cmake
router/src/connection_pool/tests/CTestTestfile.cmake
router/src/destination_status/CTestTestfile.cmake
router/src/destination_status/src/CTestTestfile.cmake
router/src/harness/CTestTestfile.cmake
router/src/harness/include/CTestTestfile.cmake
router/src/harness/shared/CTestTestfile.cmake
router/src/harness/shared/libtest-helpers.a
router/src/harness/src/CTestTestfile.cmake
router/src/harness/tests/CTestTestfile.cmake
router/src/harness/tests/plugins/CTestTestfile.cmake
router/src/http/CTestTestfile.cmake
router/src/http/src/CTestTestfile.cmake
router/src/http/tests/CTestTestfile.cmake
router/src/io/CTestTestfile.cmake
router/src/io/src/CTestTestfile.cmake
router/src/io/tests/CTestTestfile.cmake
router/src/json_schema_embedder/CTestTestfile.cmake
router/src/keepalive/CTestTestfile.cmake
router/src/keepalive/tests/CTestTestfile.cmake
router/src/metadata_cache/CTestTestfile.cmake
router/src/metadata_cache/src/CTestTestfile.cmake
router/src/metadata_cache/tests/CTestTestfile.cmake
router/src/metadata_cache/tests/libmetadata_cache_export_all.a
router/src/mock_server/CTestTestfile.cmake
router/src/mock_server/src/CTestTestfile.cmake
router/src/mock_server/tests/CTestTestfile.cmake
router/src/mysql_protocol/CTestTestfile.cmake
router/src/mysql_protocol/tests/CTestTestfile.cmake
router/src/mysqlxmessages/CTestTestfile.cmake
router/src/mysqlxmessages/src/CTestTestfile.cmake
router/src/openssl/CTestTestfile.cmake
router/src/openssl/src/CTestTestfile.cmake
router/src/plugin_info/CTestTestfile.cmake
router/src/plugin_info/src/CTestTestfile.cmake
router/src/plugin_info/tests/CTestTestfile.cmake
router/src/protobuf/CTestTestfile.cmake
router/src/protobuf/src/CTestTestfile.cmake
router/src/rest_api/CTestTestfile.cmake
router/src/rest_api/src/CTestTestfile.cmake
router/src/rest_connection_pool/CTestTestfile.cmake
router/src/rest_connection_pool/src/CTestTestfile.cmake
router/src/rest_metadata_cache/CTestTestfile.cmake
router/src/rest_metadata_cache/src/CTestTestfile.cmake
router/src/rest_router/CTestTestfile.cmake
router/src/rest_router/src/CTestTestfile.cmake
router/src/rest_routing/CTestTestfile.cmake
router/src/rest_routing/src/CTestTestfile.cmake
router/src/router/CTestTestfile.cmake
router/src/router/src/CTestTestfile.cmake
router/src/router/tests/CTestTestfile.cmake
router/src/routing/CTestTestfile.cmake
router/src/routing/src/CTestTestfile.cmake
router/src/routing/tests/CTestTestfile.cmake
router/src/routing/tests/librouting_export_all.a
router/tests/CTestTestfile.cmake
router/tests/component/CTestTestfile.cmake
router/tests/component/rest_signal/CTestTestfile.cmake
router/tests/component/rest_signal/include/
router/tests/component/rest_signal/src/CTestTestfile.cmake
router/tests/fuzzers/CTestTestfile.cmake
router/tests/integration/CTestTestfile.cmake
router/tests/libroutertest_helpers.a
scripts/CTestTestfile.cmake
scripts/sys_schema/CTestTestfile.cmake
server_unittest_library_dummy.c
share/CTestTestfile.cmake
sql/CTestTestfile.cmake
sql/protobuf/CTestTestfile.cmake
sql/server_component/CTestTestfile.cmake
storage/archive/CTestTestfile.cmake
storage/blackhole/CTestTestfile.cmake
storage/csv/CTestTestfile.cmake
storage/example/CTestTestfile.cmake
storage/federated/CTestTestfile.cmake
storage/heap/CTestTestfile.cmake
storage/innobase/CTestTestfile.cmake
storage/myisam/CTestTestfile.cmake
storage/myisammrg/CTestTestfile.cmake
storage/ndb/CTestTestfile.cmake
storage/ndb/include/CTestTestfile.cmake
storage/ndb/src/CTestTestfile.cmake
storage/ndb/src/common/CTestTestfile.cmake
storage/ndb/src/common/debugger/CTestTestfile.cmake
storage/ndb/src/common/debugger/signaldata/CTestTestfile.cmake
storage/ndb/src/common/logger/CTestTestfile.cmake
storage/ndb/src/common/mgmcommon/CTestTestfile.cmake
storage/ndb/src/common/portlib/CTestTestfile.cmake
storage/ndb/src/common/transporter/CTestTestfile.cmake
storage/ndb/src/common/util/CTestTestfile.cmake
storage/ndb/src/mgmapi/CTestTestfile.cmake
storage/ndb/src/ndbapi/CTestTestfile.cmake
storage/perfschema/CTestTestfile.cmake
storage/perfschema/unittest/CTestTestfile.cmake
storage/perfschema/unittest/libpfs_server_stubs.a
storage/secondary_engine_mock/CTestTestfile.cmake
storage/temptable/CTestTestfile.cmake
strings/CTestTestfile.cmake
support-files/CTestTestfile.cmake
testclients/CTestTestfile.cmake
unittest/CTestTestfile.cmake
unittest/examples/CTestTestfile.cmake
unittest/gunit/CTestTestfile.cmake
unittest/gunit/binlogevents/CTestTestfile.cmake
unittest/gunit/changestreams/CTestTestfile.cmake
unittest/gunit/components/keyring_common/CTestTestfile.cmake
unittest/gunit/components/mysql_server/CTestTestfile.cmake
unittest/gunit/components/mysql_server/libunit_test_common.a
unittest/gunit/containers/CTestTestfile.cmake
unittest/gunit/ddl_rewriter/CTestTestfile.cmake
unittest/gunit/group_replication/CTestTestfile.cmake
unittest/gunit/innodb/CTestTestfile.cmake
unittest/gunit/innodb/lob/CTestTestfile.cmake
unittest/gunit/keyring/CTestTestfile.cmake
unittest/gunit/keyring/libkeyring_test.a
unittest/gunit/libgunit_large.a
unittest/gunit/libgunit_small.a
unittest/gunit/libmysqlgcs/CTestTestfile.cmake
unittest/gunit/librpl_channel_credentials_lib.a
unittest/gunit/librpl_commit_order_queue_lib.a
unittest/gunit/libsqlgunitlib.a
unittest/gunit/locks/CTestTestfile.cmake
unittest/gunit/memory/CTestTestfile.cmake
unittest/gunit/temptable/CTestTestfile.cmake
unittest/gunit/xplugin/CTestTestfile.cmake
unittest/gunit/xplugin/xcl/CTestTestfile.cmake
unittest/gunit/xplugin/xpl/CTestTestfile.cmake
unittest/mytap/CTestTestfile.cmake
unittest/mytap/libmytap.a
unittest/mytap/t/CTestTestfile.cmake
utilities/CTestTestfile.cmake
vio/CTestTestfile.cmake
extra/IS/unittest/client_service-t
extra/IS/unittest/consensus-add-t
extra/IS/unittest/consensus-async-t
extra/IS/unittest/consensus-bug-t
extra/IS/unittest/consensus-crash-t
extra/IS/unittest/consensus-crash1-t
extra/IS/unittest/consensus-del-t
extra/IS/unittest/consensus-leader-degrade-t
extra/IS/unittest/consensus-leader-transfer-t
extra/IS/unittest/consensus-learner-t
extra/IS/unittest/consensus-priv-t
extra/IS/unittest/consensus-purge-t
extra/IS/unittest/consensus-replicate-with-cache-log-t
extra/IS/unittest/consensus-t
extra/IS/unittest/consensus-trx-t
extra/IS/unittest/consensus1-t
extra/IS/unittest/consensus2-t
extra/IS/unittest/easyNet-t
extra/IS/unittest/log_meta_cache-t
extra/IS/unittest/merge_tests-t
extra/IS/unittest/misc-t
extra/IS/unittest/paxos_log-t
extra/IS/unittest/paxos_log_cache-t
extra/IS/unittest/pxserror-t
extra/IS/unittest/service-t
extra/IS/unittest/tmp-t
extra/IS/unittest/witness-t
sql/libsql_no_jemalloc.a
extra/jemalloc/tmp/
extra/jemalloc/jemalloc-build
extra/jemalloc/jemalloc-configure
extra/jemalloc/jemalloc-done
extra/jemalloc/jemalloc-download
extra/jemalloc/jemalloc-install
extra/jemalloc/jemalloc-mkdir
extra/jemalloc/jemalloc-patch
extra/jemalloc/jemalloc-update