# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

#PolarDB-X Engine 3 nodes configuration
[mysqld]
log-bin=                    master-bin
relay-log=                  server-relay-log

master-info-repository=     TABLE
relay-log-info-repository=  TABLE

binlog_row_image=FULL
binlog-format=ROW

gtid_mode=ON
enforce_gtid_consistency=ON
slave-parallel-workers=8
consensus_auto_leader_transfer=OFF
mysqlx=0

[ENV]
MYPORT_1=              @mysqld.1.port
MYSOCK_1=              @mysqld.1.socket
MYPORT_2=              @mysqld.2.port
MYSOCK_2=              @mysqld.2.socket
MYPORT_3=              @mysqld.3.port
MYSOCK_3=              @mysqld.3.socket

[mysqld.1]
report-port=                @mysqld.1.port

[mysqld.2]
report-port=                @mysqld.2.port

[mysqld.3]
report-port=                @mysqld.3.port
